<launch>

    <rosparam command="load" file="$(find remote_bringup)/config/vive.yaml" />

    <node name="vive_publisher" type="survive_publisher_node" pkg="survive_publisher" output="screen">
    </node>

    <node name="vive_ros_node" type="survive_publisher" pkg="survive_publisher" output="screen">
    </node>
</launch>