<launch>

    <rosparam command="load" file="$(find remote_bringup)/config/ws.yaml" />

    <!--vive tracker模块-->
    <node name="vive_publisher" type="survive_publisher_node" pkg="survive_publisher" output="screen" />

    <node name="vive_ros_node" type="survive_publisher" pkg="survive_publisher" output="screen" />

    <!--手柄模块-->
    <include file="$(find remote_bringup)/launch/joystick.launch"/>

    <!--websocket服务器模块-->
    <node name="ws_server" type="tf_websocket_broadcaster.py" pkg="survive_publisher" output="screen"/>

    <!--机械臂接口适配模块-->
    <!-- <node name="rviz_sim_remote" type="rviz_sim_node" pkg="arm_adapter" output="screen" /> -->

    <!--机械臂仿真-->
    <!-- <include file="$(find frcobot_description)/launch/fr5robot_rviz.launch"/> -->

    <!--机械臂逆解模块-->
    <!-- <node name="arm_ik" type="ik.py" pkg="arm_ik" output="screen" /> -->

    <!--rviz-->
    <node name="remote_rviz" pkg="rviz" type="rviz" args="-d $(find remote_bringup)/rviz/vive.rviz" />
</launch>